<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="木を育てるゲーム">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>木を育てるゲーム</title>
</head>
<body>
  <header>
    <div>
      <ul>
        <li> <!-- ここに色々！ --> </li>
        <li> <!-- ここに色々！ --> </li>
        <li> <!-- ここに色々！ --> </li>
      </ul>
    </div>
  </header>

  <main>
    <section>
      <h3> <!-- ここに木！ --> </h3>
    </section>
    <section>
      <h3> <!-- ここに色々プレビュー！ --> </h3>
    </section>
    <section>
      <h3> <!-- ここに色々オプション！ --> </h3>
    </section>
  </main>
</body>
</html>